body {
    width: 1280px;
    margin: 0 auto;
    margin-top: 50px;
    background: rgb(200,207,220);
}

@font-face {
  font-family: "fette";
  src: url("../fonts/fette-engschrift-regular.ttf"); 
  font-weight: regular;  
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300');


/* HEADER */

header {
    background: white;
    height: 90px;
}

#logo {
    margin: 20px;
    float: left;
}

nav {
    list-style-type: none;
    float: left;
} 

nav li {
    float: left;
    margin-top: 35px;
}

nav li a {
    text-decoration: none;
    color: #333333;
    margin: 0px 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-family: "fette";
    font-weight: regular;
    font-size: 14px;
}

nav li a:hover {
    color: #0089cf;
    border-bottom: 4px solid #0089cf;
}

header ul {
    float: right;
    margin-right: 10px;
}

header ul li {
    float: left;
    margin-top: 35px;
}


header ul li:nth-child(1){
    background: url('../images/sprite-header-1.png') no-repeat;
}

header ul li:nth-child(2){
    background: url('../images/sprite-header-1.png') no-repeat 0 -16px;
}

header ul li:nth-child(3){
    background: url('../images/sprite-header-1.png') no-repeat 0 -32px;
}

header ul li span {
    color: #0089cf;
}

header ul li a {
    text-decoration: none;
    color: #333333;
    margin: 0px 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-family: "fette";
    font-weight: regular;
    font-size: 14px;
}

header ul li a:hover {
    color: #0089cf;
    border-bottom: 4px solid #0089cf;
}

/* SECTION PRODUCT */

#sec-product {
    height: 610px;
    background: white;
}

#sec-product #full-size {
    margin-top: 157px;
    margin-left: 122px;
    float: left;
}

#sec-product #info {
    float: left;
    margin-left: 92px;
}

#sec-product #fav {
    background-image: url("../images/wish.png");
    height: 50px; width: 50px;
    margin-top: 58px;
    margin-bottom: 43px;
}

#sec-product #info h2 {
    font-family: "fette", sans-serif;
    font-weight: regular;
    font-size: 25px;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 10px;
}

#sec-product #info h3 {
    font-family: "fette", sans-serif;
    font-weight: regular;
    font-size: 35px;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 8px;
}

#sec-product #info h4 {
    font-family: "fette", sans-serif;
    font-weight: regular;
    font-size: 18px;
    text-transform: uppercase;
    color: #666666;
    margin-bottom: 19px;
}

#sec-product #colors {
    font-family: "fette", sans-serif;
    font-weight: regular;
    font-size: 14px;
    text-transform: uppercase;
    color: #666666;
    margin-bottom: 10px;
}

#sec-product #colors span {
    font-family: "fette", sans-serif;
    font-weight: regular;
    font-size: 14px;
    text-transform: uppercase;
    color: #0089cf;
}

#sec-product #info img {
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}


#sec-product form p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 14px;
} 

#sec-product select {
    font-family: "fette", sans-serif;
    font-weight: regular;
    font-size: 14px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    width: 125px; height: 50px;
    padding-left: 20px;
    background-color: #FFF;
    border: 1px solid #e4e4e4;
    color: #666;
    background: url('../images/select-arrow.png') no-repeat 96px 20px;
    margin-right: 5px;
    outline: none;
}

#sec-product button {
    font-family: "fette", sans-serif;
    font-weight: regular;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 5px;
    background-color: #333;
    color: #FFF;
    display: inline-block;
    padding: 18px 31px;
    border: none;
}

/* SECTION DESCRIPTION */

#sec-description  {
    height: 660px;
    background: url('../images/tavas-lifestyle.png') -17px -91px no-repeat;
    background-size: 105%;

}

#sec-description h2 {
    font-family: "fette", sans-serif;
    font-weight: regular;
    font-size: 25px;
    color: white;
    display: inline-block;
    margin: 261px 0px 28px 51px;
}

#sec-description p {
    color: white;
    display: inline-block;
    margin: 0px 907px 0px 51px;
    line-height: 1.786;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 14px;
}

/* SECTION STORY & BENEFITS */

#sec-story {
    height: 660px;
    background: url('../images/tavas-top.png') no-repeat, #f5f5f5;
    padding-left: 53px;
}

#sec-story h2:first-of-type {
    font-family: "fette", sans-serif;
    font-weight: regular;
    font-size: 14px;
    color: #666;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 108px;
}

#sec-story h2 {
    font-family: "fette", sans-serif;
    font-weight: regular;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 28px;
    margin-top: 0px;
}

#sec-story h3 {
    font-family: "fette", sans-serif;
    font-weight: regular;
    font-size: 25px;
    color: #333;
    text-transform: uppercase;
    margin-top: 6px;
    margin-bottom: 24px;
}

#sec-story p:first-of-type {
    line-height: 1.786;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 14px;
    color: rgb(102, 102, 102);
    width: 372px;
    margin-bottom: 45px;
}

#sec-story h4 {
    font-family: "fette", sans-serif;
    font-weight: regular;
    font-size: 18px;
    color: #333;
    text-transform: uppercase;
    margin-top: 6px
}

#sec-story p {
    font-family: "roboto";
    font-weight: 300;
    font-size: 12px;
    color: #666;
    margin-top: 6px;
    margin-bottom: 17px;
}

/* SECTION SOCIAL */

#sec-social {
    height: 660px;
    background: #FFF;
}

#sec-social h2 {
    font-family: "fette", sans-serif;
    font-weight: regular;
    font-size: 14px;
    color: #666;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 108px;
    padding-left: 53px;
}

#sec-social h3 {
    font-family: "fette", sans-serif;
    font-weight: regular;
    font-size: 25px;
    color: #333;
    text-transform: uppercase;
    margin-top: 6px;
    margin-bottom: 43px;
    padding-left: 53px;
}

.swiper-container {
    width: 1180px;
    height: 280px;
} 

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    }


/* ADD TO CART BOX/CONTAINER */

#atc-container {
    position: relative;
}

#atc-box {
    position:absolute; left:930px; top:0px;
    width:292px; height:115px;
}

#atc-box-mobile {
    position:absolute; top:0; margin:115px 0px 115px -4px;
    width:292px; height:423px;
    background-color: white;
    border: 4px solid rgb(228,228,228);
    }

#atc-box-mobile.fixed{position:fixed; top:0;}

#atc-box-mobile .atc-box-body{
    position:absolute; width:292px; height:60px; top:63px; left:0;
    background:rgba(246,168,0,0.9);
} 

#atc-box-mobile h2 {
    font-family: "fette", sans-serif;
    font-weight: regular;
    font-size: 25px;
    color: #333;
    text-transform: uppercase;
    margin: 25px 0 0 26px;
}

#atc-box-mobile h3 {
    font-family: "roboto";
    font-weight: 300;
    font-size: 14px;
    color: #666;
    margin: 8px 0 0 26px;
}

#atc-box-mobile h4 {
    font-family: "fette", sans-serif;
    font-weight: regular;
    font-size: 14px;
    color: #0089cf;
    text-transform: uppercase;
    margin: 14px 0 0 26px;
}

#atc-box-mobile img {
    width: 260px;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
}

#atc-box-mobile p:first-of-type {
    font-family: "fette", sans-serif;
    font-weight: regular;
    font-size: 14px;
    color: #333;
    margin: 50px 0 0 26px;
    float: left;
}

#atc-box-mobile p {
    font-family: "fette", sans-serif;
    font-weight: regular;
    font-size: 18px;
    color: #333;
    right: 26px;
    text-align: right;
    margin: 47px 26px 0 0px;
}

#atc-box-mobile select {
    width: 113px; height: 48px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background: url('../images/select-arrow.png') no-repeat 89px 20px;
    background-color: #FFF;
    border: 1px solid #e4e4e4;
    margin: 20px 5px 0 26px;
    padding-left: 20px;
    font-family: "fette", sans-serif;
    font-weight: regular;
    font-size: 14px;
    color: #666;
}

#atc-box-mobile submit {
    font-family: "fette", sans-serif;
    font-weight: regular;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 5px;
    background-color: #333;
    color: #FFF;
    display: inline-block;
    width: 113px; height: 31px;
    text-align: center;
    vertical-align: middle;
    padding-top: 17px
}