body {
    width: 1280px;
    margin: 0 auto;
    margin-top: 50px;
    background: rgb(200,207,220);
}

@font-face {
  font-family: "fette";
  src: url("../fonts/fette-engschrift-regular.ttf"); 
  font-weight: regular;  
}


/* HEADER */

header {
    background: white;
    height: 90px;
}

#logo {
    margin: 20px;
    float: left;
}

nav {
    list-style-type: none;
    float: left;
} 

nav li {
    float: left;
    margin-top: 35px;
}

nav li a {
    text-decoration: none;
    color: #333333;
    padding: 20px;
    text-transform: uppercase;
    font-family: "fette";
    font-weight: regular;
    font-size: 14pt;
}

header ul {
    float: right;
    margin-right: 10px;
}

header ul li {
    float: left;
    margin-top: 35px;
}

header ul li a {
    text-decoration: none;
    color: #333333;
    padding: 20px;
    text-transform: uppercase;
    font-family: "fette";
    font-weight: regular;
    font-size: 14pt;
}

/* SECTION PRODUCT */

#sec-product {
    height: 610px;
    background: white;
}